.App {
  text-align: center;
}

.css-rao44a-MuiPaper-root-MuiAppBar-root {
  --backdrop-filter: none;
  --background: none;
}
.css-rao44a-MuiPaper-root-MuiAppBar-root {
  background-color: none;
}
.css-b62m3t-container {
  width: 15rem;
}
